<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AcceuilAnonyme</servlet-name>
        <jsp-file>/jsp/AccueilAnonyme.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ThemeColloque</servlet-name>
        <jsp-file>/jsp/ThemeColloque.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>connexionAppli</servlet-name>
        <jsp-file>/jsp/connexionAppli.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>connexionManager</servlet-name>
        <servlet-class>manager.connexionManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThemeColloque</servlet-name>
        <url-pattern>/ThemeColloque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionAppli</servlet-name>
        <url-pattern>/connexionAppli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionManager</servlet-name>
        <url-pattern>/connexionManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/AccueilAnonyme.jsp</welcome-file>
    </welcome-file-list>
</web-app>
